@import './designSystem'

*, ::before, ::after
  box-sizing: border-box

\::selection
  background-color: $hex-accent
  color: $hex-white

html
  font-size: 16px

body
  background-color: $hex-white
  margin: 0
  font-size: 16px
  word-break: keep-all
  -webkit-text-size-adjust: none

body, pre, input, button, textarea, select
  font-size: 1rem
  font-weight: 400
  text-size-adjust: 100%
  text-rendering: optimizeLegibility
  color: $hex-default
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0

img
  +image-rendering

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(255,255,255,.10)

fieldset
  margin: 0
  padding: 0

legend
  position: absolute
  overflow: hidden
  margin: 0
  width: 1px
  height: 1px
  clip: rect(1px, 1px, 1px, 1px)

label
  cursor: pointer

img, fieldset
  border: 0

img
  display: block
  image-rendering: -webkit-optimize-contrast
  backface-visibility: hidden

p, ul, dl, pre
  margin-top: 0
  margin-bottom: 0

ul, ol
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style-type: none

dd
  margin-left: 0

button
  cursor: pointer
  border: 0
  padding: 0

figure
  margin: 0

address, cite
  font-style: normal

iframe
  display: block
