@import './designSystem'

.main
  section
    overflow: hidden
    position: relative

    header
      display: flex
      justify-content: space-between
      align-items: center
      padding: rem(25)

      h1
        +screen-reader-only

      p
        display: flex
        flex-direction: column
        font-size: rem(14)
        font-weight: 900
        line-height: 1.42857143

    footer
      display: flex
      justify-content: center
      align-items: center
      margin-top: rem(75)
      padding: rem(50) rem(25)
      background-color: rgba($hex-black, .7)
      backdrop-filter: blur(rem(70))

      .footer
        display: flex
        flex-direction: column
        gap: rem(7)
        width: 100%

        p
          color: $hex-white
          font-size: rem(14)

          +mq(maxExtraSmall)
            display: flex
            flex-direction: column
            gap: rem(2)

        ul
          display: flex
          gap: rem(12),

          +mq(maxExtraSmall)
            justify-content: flex-end
            padding-top: rem(50)

        a
          transition: all .4s cubic-bezier(.4,0,.2,1)
          position: relative
          display: block
          border-bottom-width: 1px
          border-bottom-style: solid
          padding: rem(2)
          font-size: rem(14)
          color: $hex-light

          &:hover, &:focus
            color: $hex-white
            font-weight: 700

            &::after
              content: ''
              position: absolute
              bottom: 0
              left: 0
              border-radius: rem(2)
              width: 100%
              height: rem(2)
              background-color: $hex-white

        dl
          display: flex
          gap: rem(2)
          padding-top: rem(27)
          +mq(maxExtraSmall)
            flex-direction: column

          div
            display: flex
            gap: rem(7)
            font-size: rem(14)
            color: $hex-light

            +mq(maxExtraSmall)
              justify-content: flex-end

            +mq(minSmall)
              &::before
                content: '|'
                padding-left: rem(7)
                padding-right: rem(2)
                font-size: rem(10)

              &:first-of-type::before
                display: none

          dt
            font-weight: 700
            text-transform: uppercase

          dt, dd
            font-size: rem(12)

  .summary
    min-height: 100dvh

    dl
      display: flex
      flex-direction: column
      gap: rem(17)
      margin-top: rem(52)

      dt
        +screen-reader-only

      dd
        display: inline-flex
        flex-direction: column
        justify-content: center
        border-radius: 0 rem(24)rem(24) 0
        padding: rem(12) rem(27) rem(12) rem(25)
        background-color: $hex-white
        color: $hex-item

        div
          display: flex
          align-items: center
          gap: rem(5)
          font-size: rem(16)

          i
            font-style: normal
            line-height: 1.5

            &:not(.icon)
              display: block
              background-repeat: no-repeat
              background-position: 50% 50%
              background-size: contain
              width: rem(20)
              height: rem(20)

          span
            display: flex
            align-items: center
            gap: rem(7)

            strong
              font-weight: 400

              em
                font-size: rem(14)

            em
              font-size: rem(20)
              font-style: normal
              font-weight: 700
              letter-spacing: -.07em

  .contain
    display: flex
    flex-direction: column
    gap: rem(25)
    padding-top: rem(52)

    h2
      padding: 0 rem(25)
      font-size: rem(16)
      font-weight: 900
      line-height: 1
      color: $hex-black

    .module
      display: flex
      flex-direction: column
      gap: rem(17)
      background-color: $hex-white
      position: relative
      margin: 0 auto
      border-radius: rem(12)
      padding: rem(17) 0
      width: calc(100% - rem(50))

  .forecast
    .contain
      .hour
        position: relative

        &::before, &::after
          content: ''
          position: absolute
          top: rem(17)
          bottom: rem(17)
          z-index: 1
          width: rem(25)

        &::before
          left: 0
          background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%)

        &::after
          right: 0
          background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%)

        .list
          position: relative
          overflow: auto
          margin: 0 auto
          width: 100%
          height: rem(160)

        dl
          position: absolute
          top: 0
          left: 0
          display: flex
          flex-wrap: nowrap
          gap: rem(12)
          padding: 0 rem(25)
          white-space: nowrap

          > div
            display: flex
            flex-direction: column
            gap: rem(7)
            +coln
            width: rem(95)

            &:first-of-type dt
              font-weight: 700

              &::before
                content: '현재'

              span
                +screen-reader-only

          i, em
            font-style: normal

          dt, dd
            color: $hex-item
            text-align: center

          dt
            font-size: rem(16)
            line-height: 1
            color: $hex-black

          dd
            display: flex
            flex-direction: column
            gap: rem(7)

            div
              display: flex
              flex-direction: column
              gap: rem(5)
              border-top: 1px solid $hex-dark
              padding-top: rem(7)

              span
                display: flex
                flex-direction: column
                gap: rem(5)
                font-size: rem(16)
                letter-spacing: -.07em
                line-height: 1

            ul
              display: flex
              flex-direction: column
              gap: rem(5)

              li
                font-size: rem(14)
                letter-spacing: -.07em
                line-height: 1

      .day
        dl
          display: flex
          flex-direction: column
          gap: rem(17)
          padding: 0 rem(25)

          dt, dd
            font-size: rem(16)
            color: $hex-item

          > div
            display: flex
            gap: rem(12)

            &:first-of-type dt
              font-weight: 700

              span
                &::after
                  content: '오늘'
                  font-size: rem(16)

                em
                  +screen-reader-only

            dt
              display: flex
              align-items: center
              +col-auto
              width: rem(60)
              line-height: 1

              span
                display: flex
                justify-content: space-between
                align-items: center
                +col
                font-size: rem(12)
                color: $hex-dark

                strong, em
                  +col

                em
                  font-size: rem(16)
                  font-style: normal

            dd
              +col

              i, em
                font-style: normal

              div
                display: flex
                align-items: center
                gap: rem(7)

              i + em
                +screen-reader-only

              span
                width: rem(60)
                text-align: right

              .progress
                +col
                background-color: $hex-light
                position: relative
                border-radius: rem(5)
                height: rem(5)

                .bar
                  background-color: blue
                  position: absolute
                  border-radius: rem(5)
                  height: 100%

  .everything
    .contain
      .primary
        .list
          display: flex
          gap: rem(12)
          padding: 0 rem(25)

          i
            font-size: rem(32)
            font-style: normal

          dl
            display: flex
            +col
            gap: rem(5)

            div
              display: flex
              flex-direction: column
              gap: rem(7)
              +coln
              width: rem(55)

            dt, dd
              font-size: rem(14)
              line-height: 1
              letter-spacing: -.07em

            dt
              color: $hex-black

      .secondary
        .list
          display: flex
          gap: rem(12)
          padding: 0 rem(25)

          i
            font-size: rem(32)
            font-style: normal

          dl
            display: flex
            +col
            gap: rem(5)

            div
              display: flex
              flex-direction: column
              gap: rem(7)
              +coln
              width: rem(107)

            dt, dd
              font-size: rem(14)
              line-height: 1
              letter-spacing: -.07em

            dt
              color: $hex-black

  .riseset
    .contain
      .sun
        .list
          dl
            display: flex
            gap: rem(7)
            padding: 0 rem(25) rem(25)

            div
              display: flex
              flex-direction: column-reverse
              gap: rem(5)

              &:first-of-type
                text-align: right

              &.now
                +col

                dt
                  +screen-reader-only

                dd
                  display: flex
                  flex-direction: column
                  gap: rem(5)

              dt, dd
                line-height: 1

              dt
                font-size: rem(12)
                color: $hex-item

              dd
                font-size: rem(14)
                font-weight: 700
                color: $hex-black

                .progress
                  background-color: $hex-light
                  border-radius: rem(12)
                  width: 100%
                  height: rem(12)

                  > span
                    +screen-reader-only

                  .bar
                    position: relative
                    border-radius: rem(12)
                    height: rem(12)

                    i
                      background-color: $hex-dark
                      position: absolute
                      top: 0
                      right: 0
                      border-radius: rem(12)
                      width: rem(12)
                      height: rem(12)

                    span
                      position: absolute
                      top: rem(15)
                      right: rem(-20)
                      font-size: rem(12)

      .moon
        .list
          display: flex
          gap: rem(12)
          padding: 0 rem(25)

          i
            font-size: rem(32)
            font-style: normal

          dl
            display: flex
            +col
            gap: rem(5)

            div
              display: flex
              flex-direction: column
              gap: rem(7)
              +coln
              width: rem(80)

            dt, dd
              font-size: rem(14)
              line-height: 1
              letter-spacing: -.07em

            dt
              color: $hex-black
