.settings
  display: flex
  position: relative

  .nav
    display: flex
    flex-direction: column
    width: 100%

    div[data-device="safari"], div[data-device="chrome"]
      padding-top: ds.rem(25)

  +ds.mq(maxMedium)
    flex-direction: column
    gap: ds.rem(12)

  +ds.mq(minLarge)
    min-height: 100dvh

    nav
      display: flex
      flex-direction: column
      gap: ds.rem(37)
      flex: 1
      +ds.coln
      width: 37%

      ol
        flex: 1

    & + hr
      margin: 0
      border: 0
      border-left: 1px solid ds.$hex-light

    .content
      +ds.col

  header
    display: flex
    justify-content: center
    align-items: center
    position: relative
    height: ds.rem(45)

    button
      background: none

    button, a
      display: inline-flex
      justify-content: center
      align-items: center
      gap: ds.rem(2)
      position: absolute
      top: 0
      left: ds.rem(7)
      padding: 0 ds.rem(7)
      height: 100%

      i
        display: inline-block
        width: ds.rem(20)
        height: ds.rem(20)

      span
        +ds.screen-reader-only

    h1
      font-size: ds.rem(16)
      font-weight: 900
      line-height: 1

  ol
    display: flex
    flex-direction: column
    padding: 0 ds.rem(12)

    a
      display: flex
      align-items: center
      height: ds.rem(45)
      font-size: ds.rem(16)
      font-weight: 700
      color: ds.$hex-white
      line-height: 1
      border-bottom: 1px solid ds.$hex-light

  div[data-device="safari"], div[data-device="chrome"]
    display: flex
    justify-content: center
    padding-bottom: ds.rem(77)

  div[data-device="safari"] a, div[data-device="chrome"] button
    width: ds.rem(340)
    height: ds.rem(70)
    position: relative
    background-color: transparent

    span
      +ds.screen-reader-only

    i
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .contain
    display: flex
    flex-direction: column
    gap: ds.rem(12)
    padding: 0 ds.rem(12)
    margin: 0 auto
    max-width: ds.rem(720)

  fieldset
    display: flex
    background-color: ds.$hex-light
    overflow: hidden
    border-radius: ds.rem(12)
    padding: 0 ds.rem(12)

    +ds.mq(minLarge)
      margin-top: ds.rem(37)

    input
      +ds.col
      background-color: transparent
      border: 0
      padding: ds.rem(12)
      font-size: ds.rem(16)
      font-weight: 700
      line-height: 1
      color: ds.$hex-black
      outline: 0

    button
      background-color: transparent
      width: ds.rem(48)
      height: ds.rem(48)

      i
        display: inline-block
        width: ds.rem(20)
        height: ds.rem(20)

      span
        +ds.screen-reader-only

  .notice
    background-color: rgba(255,255,255,.7)
    backdrop-filter: blur(ds.rem(50))
    border-radius: ds.rem(12)
    padding: ds.rem(17)

    dl
      display: flex
      flex-direction: column
      gap: ds.rem(17)

      div
        display: flex
        flex-direction: column
        gap: ds.rem(5)
        font-size: ds.rem(14)
        line-height: 1.27

        dt
          font-weight: 700
          color: ds.$hex-black

        dd
          color: ds.$hex-dark

          code
            font-weight: bold

            &::before, &::after
              content: '`'

  p
    &.saved
      background-color: ds.$hex-white
      border-radius: ds.rem(12)
      padding: ds.rem(17)
      font-size: ds.rem(16)
      color: ds.$hex-black
      letter-spacing: -.07em

      strong
        font-weight: 700
        color: ds.$hex-accent

    &.error
      background-color: ds.$hex-black
      border-radius: ds.rem(12)
      padding: ds.rem(17)
      font-size: ds.rem(16)
      font-weight: 900
      letter-spacing: -.07em

  .documents
    background-color: rgba(0,0,0,.7)
    backdrop-filter: blur(ds.rem(50))
    margin: ds.rem(50) 0
    border-radius: ds.rem(12)
    padding: ds.rem(25)

    & :last-of-type hr
      display: none

    hr
      margin: ds.rem(20) 0
      border: 1px solid ds.$hex-light

      +ds.mq(minLarge)
        margin: ds.rem(25) 0

    pre, code
      white-space: pre-wrap
      font-size: ds.rem(14)

  .info
    display: flex
    flex-direction: column
    gap: ds.rem(27)
    margin-top: ds.rem(75)

    dl
      display: flex
      flex-direction: column
      align-items: center
      gap: ds.rem(7)

      div
        display: flex
        align-items: center
        gap: ds.rem(7)

        dt, dd
          line-height: 1

        dt
          width: ds.rem(135)
          font-size: ds.rem(12)
          color: ds.$hex-light
          text-transform: uppercase
          text-align: right

        dd
          font-size: ds.rem(14)
          font-weight: 700

    ul
      display: flex
      justify-content: center
      gap: ds.rem(7)

      li
        font-size: ds.rem(12)

        a
          font-size: ds.rem(14)
          color: ds.$hex-light
          text-decoration: underline

        &::before
          content: '/'
          padding-right: ds.rem(7)

        &:first-of-type::before
          display: none

    p
      font-size: ds.rem(16)
      text-align: center

      i
        position: relative
        top: ds.rem(7)
        padding: 0 ds.rem(5)
        font-size: ds.rem(32)
        font-style: normal
        font-weight: 900

        & ~ i
          top: ds.rem(22)

      & + p
        font-size: ds.rem(12)
        line-height: 1.7

      span
        display: block

  .safari
    display: flex
    flex-direction: column
    align-items: center
    gap: ds.rem(32)
    padding-top: ds.rem(77)

    p
      display: flex
      flex-direction: column
      align-items: center
      gap: ds.rem(2)
      text-align: center

      strong
        font-weight: 900

    section
      display: flex
      flex-direction: column
      gap: ds.rem(25)

      .images
        display: flex
        flex-direction: column
        align-items: center
        gap: ds.rem(35)
        margin-bottom: ds.rem(52)

        img
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px
          width: 92%
          height: auto

        &:not(.vertical)
          flex-direction: row
          justify-content: center

          img
            width: 25%
